.body-left {
    background-color: #ffffff;
    width: 200px;
    height: 100%;
    border-right: 1px solid #bbbbbb;
    display: flex;
    flex-direction: column;
}

    .body-left .sidebar {
        height: 50px;
        display: flex;
    }

        .body-left .sidebar .toggle {
            width: 50px;
            height: 50px;
            background-image: url('../../content/img/toggle.png');
            background-repeat: no-repeat;
            background-size: 22px;
            background-position: 18px center;
            cursor: pointer;
        }

        .body-left .sidebar .logo {
            width: 138px;
            height: 50px;
            background-image: url('../../content/img/cukcuk-logo.png');
            background-size: 126px;
            background-repeat: no-repeat;
            background-position: 0px 9px;
            cursor: pointer;
        }

    .body-left .menu {
        position: relative;
        flex: 1;
    }

        .body-left .menu .menu-item {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

            .body-left .menu .menu-item:hover {
                background-color: #E9EBEE;
            }

            .body-left .menu .menu-item .icon {
                width: 50px;
                height: 45px;
                background-repeat: no-repeat;
                background-size: 22px;
                background-position: 18px center;
            }

                .body-left .menu .menu-item .icon.overview {
                    background-image: url('../../content/icon/dashboard.png');
                }

                .body-left .menu .menu-item .icon.report {
                    background-image: url('../../content/icon/report.png');
                }
                .body-left .menu .menu-item .icon.dic-customer {
                    background-image: url('../../content/icon/dic-employee.png');
                }
                .body-left .menu .menu-item .icon.setting {
                    background-image: url('../../content/icon/setting.png');
                }

            .body-left .menu .menu-item .item-name {
                width: 150px;
            }

.body-right {
    position: absolute;
    left: 201px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: bisque;
}

    .body-right .header {
        background-color: rgb(221, 221, 221);
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #bbbbbb;
    }

    .body-right .content {
        background-color: #ffffff;
        position: absolute;
        top: 51px;
        right: 0;
        bottom: 0;
        left: 0;
    }
.body-right .header .header-left{
    width: 50%;
    height: 50px;
    float: left;
    line-height: 50px;
}
.body-right .header .header-left b{
    font-size: 22px;
    margin: auto   8%;
}
.body-right .header .header-right{
    width: 50%;
    height: 50px;
    float: left;
    line-height: 50px;
}
.body-right .header .header-right strong{
    text-align: right;
    font-size: 22px;
}
.body-right .header .header-right strong p{
    margin: 0 8%;
}

.content1{
    width: 100%;
    height: 60px;
    line-height: 60px
}

.content1-layout{
    width: 50%;
    height: 60px;
    float: left;
}

.content1 .content1-layout b{
    font-size: 22px;
    margin: auto   5%;
}

.content1 .content1-layout .content1-right-button{
    width: 20%;
    height: 40px;
    background-color: rgb(59, 201, 130);
    color: white;
    text-align: center;
    float: right;
    margin: 10px 5%;
}


.content2{
    width: 100%;
    height: 60px;
}